<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183333147774-j2vo36jgpav4uheofj9hcb1uvmt2csn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183333147774-j2vo36jgpav4uheofj9hcb1uvmt2csn9</string>
	<key>API_KEY</key>
	<string>AIzaSyAfaEfJoNZu4MYab5BxQyprErdVAkwbVGY</string>
	<key>GCM_SENDER_ID</key>
	<string>183333147774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayanth.programs.PawPost</string>
	<key>PROJECT_ID</key>
	<string>pawpost-796a2</string>
	<key>STORAGE_BUCKET</key>
	<string>pawpost-796a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183333147774:ios:2d7777910bedacd8baf42f</string>
</dict>
</plist>